PORT=3000
NODE_ENV=development
SERVER_ORIGIN=http://localhost:3000
LOG_LEVEL=info

CORS_ORIGIN=*
CORS_CREDENTIALS=false

OPENAPI_ENABLED=true
OPENAPI_VERSION=3.0.0

ENABLE_CACHE=false
CACHE_PROVIDER=default
DEFAULT_CACHE_TTL=-1
REDIS_URL=redis://localhost:6379
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

ANILIST_SPOTLIGHT_IDS=179062,195322,166613,182255,21,195515,172463,99750

DATABASE_URL=
REMAP_REFRESH_INTERVAL=600000

WREQ_BROWSER=chrome_149
WREQ_OS=windows
